<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ChromaChat</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>WorkSans-Regular.otf</string>
		<string>WorkSans-Medium.otf</string>
		<string>WorkSans-Light.otf</string>
		<string>Whois-Mono.ttf</string>
		<string>Tuffy.otf</string>
		<string>SaniTrixieSans.ttf</string>
		<string>Grammatika-Regular.otf</string>
		<string>CothamSans.otf</string>
		<string>ComputerModernSans.ttf</string>
		<string>ClearSans-Regular.ttf</string>
		<string>ClearSans-Light.ttf</string>
		<string>Aileron-Regular.otf</string>
		<string>Aileron-Light.otf</string>
		<string>SourceCodePro-Black.otf</string>
		<string>SourceCodePro-Bold.otf</string>
		<string>SourceCodePro-ExtraLight.otf</string>
		<string>SourceCodePro-It.otf</string>
		<string>SourceCodePro-LightIt.otf</string>
		<string>SourceCodePro-MediumIt.otf
</string>
		<string>SourceCodePro-Semibold.otf
</string>
		<string>SourceCodePro-BlackIt.otf
</string>
		<string>SourceCodePro-BoldIt.otf
</string>
		<string>SourceCodePro-ExtraLightIt.otf</string>
		<string>SourceCodePro-Light.otf</string>
		<string>SourceCodePro-Medium.otf</string>
		<string>SourceCodePro-Regular.otf</string>
		<string>SourceCodePro-SemiboldIt.otf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.slow.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
